@import "tailwindcss";
@plugin "daisyui";


:root {
  /* ... other variables */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; /* <-- THIS IS THE BLACK BACKGROUND */
}